@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&family=Noticia+Text:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  color: white;
  width: 100%;
}

h1 {
  font-size: 5.5rem; /* unchanged */
  font-weight: 900;
  background: linear-gradient(to bottom, white 50%, rgba(246, 16, 103) 50%);
  background-clip: text;
  color: transparent;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  font-size: 3rem; /* unchanged */
  color: rgba(246, 16, 103, 1);
}

h3 {
  font-size: 2.5rem; /* unchanged */
  color: rgba(48, 35, 61, 1);
  font-weight: 500;
}

h4 {
  font-size: 2rem; /* unchanged */
}

h5 {
  font-size: 1.5rem; /* unchanged */
  color: #30233d;
  font-weight: 500;
}

h6 {
  font-size: 1rem; /* unchanged */
}


.title-small-pink {
  font-size: 0.7rem; /* unchanged */
  letter-spacing: 0.333rem; /* 6px / 18px */
  font-weight: 800;
  color: rgba(246, 16, 103, 1);
}

.title-small-dark {
  font-size: 0.7rem; /* unchanged */
  letter-spacing: 0.333rem; /* 6px / 18px */
  font-weight: 800;
  color: rgba(48, 35, 61, 1);
}

.title-medium {
  font-size: 0.8rem; /* unchanged */
  font-weight: 800;
  letter-spacing: 0.222rem; /* 4px / 18px */
}

.title-large {
  font-size: 1rem; /* unchanged */
  letter-spacing: 0.222rem; /* 4px / 18px */
  color: white;
  font-weight: 700;
}

.text-small {
  font-size: 0.9rem; /* unchanged */
  color: rgba(119, 108, 130, 1);
}


  
  header .wind{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    height: 8rem;
    width: 58%;
    padding: 3rem;
    margin-top: 3rem;
    
  }
  
  header .wind p{
    padding-left: 5.2rem;
  }
  
  .logo {
    font-size: 1.333rem; /* unchanged */
    letter-spacing: 0.111rem; /* 2px / 18px */
    font-weight: 800;
    color: rgba(48, 35, 61, 1);
  }
  
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3.4rem 0 3.4rem 0; 
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    gap: 4.444rem; /* 80px / 18px */
  }
  
  nav ul li {
    display: flex;
    align-items: center;
    font-size: 0.8rem; /* unchanged */
    font-weight: 700;
    letter-spacing: 0.056rem; /* 1px / 18px */
  }
  
  
  
  li {
    list-style-type: none;
  }
  
  a:link {
    text-decoration: none;
    color: rgba(48, 35, 61, 1);
  }
  
  a:visited {
    color: rgba(48, 35, 61, 1);
  }

header div{
    height: 20rem; 
    background-image: url("../images/ap1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
    background-color: rgba(94, 35, 157, 1);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  header div h2{
    padding-left: 8.2rem;
    margin-bottom: 1rem;
  }

  header div p{
    padding-left: 8.2rem;
  }

  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8.2rem; 
  }
  
  
  .title-small {
    
    font-size: 0.7rem; /* unchanged */
    letter-spacing: 0.333rem; /* 6px / 18px */
    font-weight: 800;
  }
  

  /*intro*/


.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}


.intro .what-head{
    width: 42rem;
    margin-bottom: 4rem;
  }

.intro .conts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 58.5rem;
}

.intro .conts div p{
    width: 25rem;
  }

.regular {
    font-size: 1rem;
    color: rgba(119, 108, 130, 1);
}

/*what we do*/

.what-we-do .first-part {
    background-color: rgba(21, 4, 51, 1);
    height: 18rem;
    padding-left: 8.2rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.what-we-do .second-part {
    background-color: rgba(48, 18, 78, 1);
    height: 53rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.what-we-do .second-part div{
    display: flex;
    justify-content: space-between;
    padding: 10rem 15rem 0 8.2rem;
}

.what-we-do .second-part div h5{
    color: white;
    width: 14.7rem;
}

.what-we-do .second-part div p{
    color: white;
    font-size: 1rem;
    width: 20rem;
}

/*clients*/


.clients div:nth-child(1){
    padding: 10rem 8.2rem; 
}

.clients div aside{
    background-color: rgba(21, 4, 51, 1);
    height: 38rem;
    width: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
}

.clients div aside p{
    margin-top: 2rem;
    color: rgba(252, 252, 252, 1);

}

 .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
 .table p:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
    visibility: hidden;
  }

  .logos div {
    width: 50%; /* unchanged */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
  }

  /*props*/


  .props{
    background-color: rgba(48, 18, 78, 1);
    padding: 10rem 8.2rem;
  }
  .props .what-head h5{
    padding: 1rem 0;
    width: 42rem;
    color: white;
  }
  .props .blocks{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    
  }


  .props .blocks div{
    background-color: rgba(48, 18, 78, 1);
    width: 20rem;
    height: 19rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 6% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }