@import url("style.css");

/*picture for header*/

header .title-picture{
  background-image: url("../images/ap1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196,196, 196, 0) 56.77%);
}

  /*intro*/

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  height: 43rem;
}


.intro .what-head{
    width: 42rem;
    margin-bottom: 4rem;
}

.intro .conts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 58.5rem;
}

.intro .conts div p{
    width: 25.6rem;
  }


.title-small{
  padding-bottom: 1rem;
}

@media only screen and (max-width: 360px) {
  .intro{
    margin: 0;
    padding: 2rem;
    align-items: center;
  }

  .intro .what-head, .intro .conts, .intro .conts div p{
    width: auto;
  }

  .intro .conts{
    flex-direction: column;
  }

}

/*what we do*/

.what-we-do .first-part {
    background-color: rgba(21, 4, 51, 1);
    height: 18rem;
    padding-left: 10%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.what-we-do .second-part {
    background-color: rgba(48, 18, 78, 1);
    height: 53rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.what-we-do .second-part div{
    display: flex;
    justify-content: space-between;
    padding: 10rem 15rem 0 10%;
}

.what-we-do .second-part div h5{
    width: 14.7rem;
}

.what-we-do .second-part div p{
    width: 20rem;
}


.what-we-do .pic{
  height: 45rem;
  position: absolute;
  right: 0;
  top: 80rem;
  background-image: url(../images/hp3.png);
  background-size: 100%;
  background-color: rgba(246, 16, 103, 1);
  background-blend-mode: multiply;
}


@media only screen and (max-width: 360px) {
  .what-we-do .first-part{
    padding: 0;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .what-we-do .second-part{
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .what-we-do .second-part div{
    padding: 2rem;
    flex-direction: column;
}

  .what-we-do .pic{
    margin-top: -17rem;
    position: static;
    z-index: 10;
  }

}

/*clients*/

.clients{
  height: 56rem;
}

.clients div:nth-child(1){
    padding: 5rem 8.2rem 3rem 10%; 
}

.clients aside{
    position: absolute;
    left: 0%;
    background-color: rgba(21, 4, 51, 1);
    height: 38rem;
    width: 39rem;
    top: 165rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
    z-index: 2;
}


.clients aside p{
    margin-top: 2rem;
}

.clients div:nth-child(2){
  display: flex;
}

@media only screen and (max-width: 360px) {

  .clients{
    height: auto;
  }

  .clients aside{
    height: auto;
    margin: 0;
    width: auto;
    position: static;
  }

  .clients div:nth-child(1){
    padding:2rem ; 
}


}


  /*props*/

  .props{
    position: relative;
    background-color: rgba(48, 18, 78, 1);
    padding: 10rem 10%;
    z-index: 1;
  }

  .props .what-head h5{
    padding: 1rem 0;
    width: 42rem;
    color: white;
  }

  .props .blocks{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    
  }


  .props .blocks div{
    background-color: rgba(48, 18, 78, 1);
    width: 20rem;
    height: 19rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 6% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media only screen and (max-width: 360px) {

    .props{
      position: relative;
      padding: 1rem;
      z-index: none;
    }
    .props .what-head h5{
      width: auto;
    }

    .props .blocks{
      flex-direction: column;
      padding: 0;
      align-items: center;
    }

    .props .blocks div{
      margin: 1rem;
      padding: 2rem;
      height: auto;
    }
  
  }

