@import url("style.css");
    
    header .wind{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-left: none;
      height: 8rem;
      width: 58%;
      padding: 3rem;
      margin-top: 3rem;
      
    }
    
    header .wind p{
      padding-left: 5.2rem;
    }
    
    .logo {
      font-size: 1.333rem; /* unchanged */
      letter-spacing: 0.111rem; /* 2px / 18px */
      font-weight: 800;
      color: rgba(48, 35, 61, 1);
    }
    
    
  
  header div{
      height: 20rem; 
      background-image: url("../images/c1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
      background-color: rgba(94, 35, 157, 1);
      background-blend-mode: multiply;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
  
    header div h2{
      padding-left: 8.2rem;
      margin-bottom: 1rem;
    }
  
    header div p{
      padding-left: 8.2rem;
    }

    .dark{
        color: rgba(48, 35, 61, 1);
    }

/*intro*/
.intro{
    position: relative;
}

.intro .contacts{
    padding: 6rem 8.2rem;
}


.intro .contacts div{
    display: flex;
    width: 20rem;
}

.txt{
    margin: 1rem 2rem;
}

.intro .contacts div div{
    display: flex;
    flex-direction: column;
}

.intro div{
    position: relative;
}

.intro .pic{
    background-size: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    height: 68rem; 
    width: 40rem;
    background-image: url("../images/c2.png");
    background-color: rgba(246, 16, 103, 1);
    background-blend-mode: multiply;
    position: absolute;
    z-index: 2;

}

.intro .back{
    height: 31rem;
    width: 100%;
    position: absolute;
    top: 50rem;
    background-color: rgba(48, 18, 78, 1);
    z-index: 1;
}


.intro .contact{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 27rem;
    background-color: rgba(21, 4, 51, 1);
    height: 40rem;
    width: 64rem;
    z-index: 3;
}