@import url("style.css");
    
/*picture for header*/

header .title-picture{
  background-image: url("../images/c1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
}

/*intro*/
.intro{
    height: 77rem;
    position: relative;
    background-color: rgba(48, 18, 78, 1);
}

.intro .contacts{
    width: 50%;
    background-color: white;
    height: 46rem;
    padding: 6rem 10%;
}


.intro .contacts div{
    display: flex;
    width: 20rem;
}

.txt{
    margin: 1rem 2rem;
}

.intro .contacts div div{
    display: flex;
    flex-direction: column;
}


.intro .pic{
    background-size: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    height: 68rem; 
    width: 50%;
    background-image: url("../images/c2.png");
    background-color: rgba(246, 16, 103, 1);
    background-blend-mode: multiply;
    position: absolute;
    z-index: 2;

}

/*contact form*/

.contact{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(21, 4, 51, 1);
    height: 40rem;
    width: 64rem;
    z-index: 3;
    padding: 5.5rem;

}

.contact h5 {
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.contact form div {
  display: flex;
  flex-direction: column;
}

.contact form div:first-child {
  width: 20rem;
  margin-bottom: 5rem;
}


.contact form div:last-child {
  width: 31rem;
}

.contact form div:first-child input{
  height: 3rem;
  margin: 1rem 0 2rem 0;
  padding: 1rem;
}


.contact form div:last-child input{
  margin-top: 1rem;
  padding: 1rem;
  height: 100%;
}



.contact button {
  font-size: 0.75rem;
  letter-spacing: 2px;
  width: 12rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: rgba(246, 16, 103, 1);
  color: rgba(252, 252, 252, 1);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}



@media only screen and (max-width: 360px) {

  .intro{
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;

  }
  .intro div{
    width: 100%;
    position: static;
    transform: none;
    padding: 0;
  }
  .intro .contact{
    padding: 1rem;
  }
  .intro .contact form {
    width: 80%;
    flex-direction: column;
    padding: 1rem 0;
  }

  .contact form div:last-child input{
    width: 20rem;
    height: 8rem;
  }

  .intro .contacts{
    width: 100%;
    padding: 2rem;
    height: auto;
  }

  .intro .pic{
    display: none;
  }


}
  