@import url("style.css");
  
  header .wind{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    height: 8rem;
    width: 58%;
    padding: 3rem;
    margin-top: 3rem;
    
  }
  
  header .wind p{
    padding-left: 5.2rem;
  }
  
  .logo {
    font-size: 1.333rem; /* unchanged */
    letter-spacing: 0.111rem; /* 2px / 18px */
    font-weight: 800;
    color: rgba(48, 35, 61, 1);
  }
  


header div{
    height: 20rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  header div h2{
    padding-left: 8.2rem;
    margin-bottom: 1rem;
  }

  header div p{
    padding-left: 8.2rem;
  }

  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8.2rem; 
  }
  
  
  .title-small {
    
    font-size: 0.7rem; /* unchanged */
    letter-spacing: 0.333rem; /* 6px / 18px */
    font-weight: 800;
  }
  

  .dark{
    color: rgba(48, 35, 61, 1);
  }

  /*gallery*/

  .gallery{
    position: relative;
  }

.gallery .photo:nth-child(1){
    background-image: url('../images/Rectangle\ 3.1.png');
    background-size: 100%;
    width: 42rem; 
    height: 43rem; 
    position: absolute;
    background-color: rgba(94, 35, 157, 1);
    background-blend-mode:multiply;
    z-index: 1;
}

.gallery .photo:nth-child(2){
    background-image: url('../images/Rectangle\ 3.png');
    background-size: 100%;
    width: 40rem; 
    height: 46rem; 
    top: 0%;
    left: 40rem;
    position: absolute;
    background-color: rgba(0, 240, 181, 1);
    background-blend-mode:multiply;
    z-index: 1;
}

.gallery .photo:nth-child(3){
    background-image: url('../images/Rectangle\ 3.2.png');
    background-size: 100%;
    top: 41rem;
    width: 80rem; 
    height: 43rem; 
    position: absolute;
    background-color: rgba(246, 16, 104, 0.808);
    background-blend-mode:multiply;
}

.gallery .photo:nth-child(4){
    background-image: url('../images/Rectangle\ 3.4.png');
    background-size: 100%;
    width: 40rem; 
    height: 46rem;     
    top: 78.5rem;
    position: absolute;
    background-color: rgba(0, 240, 181, 1);
    background-blend-mode:multiply;
}
.gallery .photo:nth-child(5){
    background-image: url('../images/Rectangle\ 3.3.png');
    background-size: 100%;
    width: 42rem; 
    height: 43rem; 
    top: 80rem;
    left: 40rem;
    position: absolute;
    background-color: rgba(94, 35, 157, 1);
    background-blend-mode:multiply;
}