@import url("style.css");

header {
    height: 46rem;
    background-image: url("../images/hm1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
    background-color: rgba(94, 35, 157, 1);
    background-blend-mode: multiply;
  }

  @media only screen and (max-width: 360px) {
    header{
      background-size: 200%;
      height: auto;
      padding-bottom: 1rem;
    }
  }
  
  
/*nav*/

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

nav ul li:nth-child(2){
  text-decoration: underline rgba(252, 252, 252, 1);
  text-underline-offset: 0.8rem;
  text-decoration-thickness: 1px;
}

/*main*/

.main h1:before {
  content: 'We grow';
  color: rgba(255, 255, 255, 1);

 }

.main h1:after {
  content: 'great business';
  color: rgba(246, 16, 103, 1);
 }

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% 10% 0 10%;
  }

  .main .title-medium{
    margin-bottom: 1.5rem;
  }
  
  .main .scroll {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding-bottom: 2rem;
}

.main .scroll p {
    writing-mode: vertical-rl; 
}

.main .scroll svg {
  margin-top: 1rem;
}

  
@media only screen and (max-width: 360px) {
  .main{
    flex-direction: column;
    padding-left: 2rem;
  }


  .main .scroll p {
    writing-mode: horizontal-tb; 
}

.main .scroll {
  padding-top: 1rem;
  padding-bottom: 0;
}
  
}


.wind{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    width: 51%;
    padding: 2rem 3rem 2rem 10%;
    margin-bottom: 5rem;
    
} 

@media only screen and (max-width: 360px) {
  .wind{
    padding: 1rem 2rem;
    margin: 2rem;
    width: auto;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }

  .wind p{
    padding: 0;
  }
}
  
  
/*intro*/


.what-we-do {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%; 
}

.what-we-do article .txt{
  width: 42rem;
  margin-bottom: 4rem;
}

.what-we-do .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.what-we-do .icons svg{
  margin: 1rem 0;
}

.what-we-do .icons div{
  width: 20rem;
}

@media only screen and (max-width: 360px) {
  .what-we-do article .txt{
    width: auto;
    margin-bottom: 0;
  }
  
  .what-we-do .icons{
    flex-direction: column;

  }

  .what-we-do .icons div{
    width: auto;
  }
}
  
  /*features*/
  
.features {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
}

.features article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 10% 0;
}

.features .picture {
  grid-row: span 4; /* unchanged */
  position: relative;
}

.features .picture img {
  display: block;
  width: 23rem; /* unchanged */
  height: 64rem; /* unchanged */
}

.features .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* unchanged */
  height: 100%; /* unchanged */
  background-color: rgba(246, 16, 103, 1);
  mix-blend-mode: multiply;
}

.features .open{
  margin-left: 10%;
  padding-bottom: 6rem;
}

.features .buis{
  color: white;
  width: 20%;
}

.features .pbuis{
  width: 35%;
}

@media only screen and (max-width: 360px) {
  .features .picture img{
    display: none;
  }

  .features article {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  .features .buis{
    width: auto;

  }
  
  .features .pbuis{
    width: auto;

  }

  .features .open{
    margin: 2rem;
    padding: 0;
  }
}


/*logos*/

.logos {
  display: flex;
  flex-direction: row;
  height: 36rem; 
}

.logos .pic {
  background-image: url(../images/hm4.png);
  background-size: 80%;
  background-color: rgb(48, 18, 78, 1);
  background-blend-mode: darken;
  width: 50%;
}

@media only screen and (max-width: 360px) {
  .logos .pic {
    display: none;
  }
  
}
  
  