@import url("style.css");
    
    header .wind{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-left: none;
      height: 8rem;
      width: 58%;
      padding: 3rem;
      margin-top: 3rem;
      
    }
    
    header .wind p{
      padding-left: 5.2rem;
    }
    
  
  header div{
      height: 20rem; 
      background-image: url("../images/s1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
      background-color: rgba(94, 35, 157, 1);
      background-blend-mode: multiply;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
  
    header div h2{
      padding-left: 8.2rem;
      margin-bottom: 1rem;
    }
  
    header div p{
      padding-left: 8.2rem;
    }


    /*numbers*/

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%; /* unchanged */
    text-align: center;
  }

  .numbers h5{
    padding-top: 1rem;
    width: 42rem;
  }
  
  .numbers .nums {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%; /* unchanged */
    margin-top: 10%; /* unchanged */
  }
  

  /*services*/

  .services{
    display: flex;
    flex-direction: column;
  }

  .hat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .services .icons{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8.2rem;
  }

  .services .icons div{
    width: 18rem;
    margin: 2rem;
  }

  .services .icons div p{
    color: rgba(119, 108, 130, 1);
  }


  /*what-we-do*/
.what-we-do .hat{
    padding: 10rem;
}

.what-we-do .blocks{
    display: flex;
    flex-direction: column;

}

.what-we-do .blocks .block{
    display: flex;
    padding-bottom: 5rem;
}


.what-we-do .blocks .block img{
    width: 40rem;
    height: 25rem;
}

.what-we-do .blocks .block:nth-child(odd) {
    padding-left: 8.2rem;
}

.what-we-do .blocks .block:nth-child(even) {
    padding-right: 8.2rem;
}
