@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&family=Noticia+Text:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  width: 100%;
}


/*text, titles*/

h1 {
  font-size: 5.5rem; /* unchanged */
  font-weight: 900;
  background: linear-gradient(to bottom, white 50%, rgba(246, 16, 103) 50%);
  background-clip: text;
  color: transparent;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  font-size: 3rem; /* unchanged */
}

h3 {
  font-size: 2.5rem; /* unchanged */
  font-weight: 500;
}

h4 {
  font-size: 2rem; /* unchanged */
}

h5 {
  font-size: 1.5rem; /* unchanged */
  font-weight: 500;
}

h6 {
  font-size: 1rem; /* unchanged */
}

span{
  font-size: 1rem;
  font-style: normal;
}

.title-small {
  font-size: 0.7rem; 
  letter-spacing: 6px; 
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 1rem;
}


.title-medium {
  font-size: 0.8rem; 
  font-weight: 800;
  letter-spacing: 0.222rem; 
}

.title-large {
  font-size: 1rem; 
  letter-spacing: 0.222rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text-super-small{
  font-size: 0.65rem;
}

.text-small {
  font-size: 0.9rem; 
}


.text-regular{
  font-size: 1rem;
  font-weight: 400;
}

.text-large{
  font-size: 1.2rem;
}

.text-testimonials{
  width: 60%;
  color: rgba(48, 35, 61, 1);
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}


.logo {
  font-size: 1.333rem; /* unchanged */
  letter-spacing: 0.111rem; /* 2px / 18px */
  font-weight: 800;
}


.dark{
  color: rgba(48, 35, 61, 1);
}

.pink{
  color: rgba(246, 16, 103, 1);
}


.light-gray{
  color: (244, 244, 237, 1);
}

.white{
  color: rgba(252, 252, 252, 1);
}

.gray{
  color:rgba(119, 108, 130, 1);
}

.bold{
  font-weight: 800;
}


@media only screen and (max-width: 360px) {
  /* Adjust the font sizes for smaller screens */
  h1 {
      font-size: 4rem; /* Adjusted for smaller screens */
  }
  h2 {
      font-size: 2.5rem;
  }
  h3 {
      font-size: 2rem;
  }
  h4, .text-testimonials {
      font-size: 1.5rem;
  }
  h5 {
      font-size: 1.2rem;
  }
  h6{
    font-size: 1rem;
  }
  .title-small-pink, .title-small-dark, .title-medium, .title-large, .text-small {
      font-size: 0.8rem;
  }
}


/*navigation light*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.4rem 8.2rem; 
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 49rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

a:link {
  text-decoration: none;
  color: rgba(48, 35, 61, 1);
}

a:visited {
  color: rgba(48, 35, 61, 1);
}

@media only screen and (max-width: 360px) {
  nav{
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }
  nav ul{
    flex-direction: column;
    align-items: center;
  }

  nav ul li{
    margin-top: 1rem;
  }

  nav ul li:last-child{
    visibility: hidden;
  }

}

/*header for pages*/

header .title-picture{
  height: 20rem; 
  background-color: rgba(94, 35, 157, 1);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .title-picture h2{
  padding-left: 8.2rem;
  margin-bottom: 1rem;
}

header .title-picture p{
  padding-left: 8.2rem;
}

@media only screen and (max-width: 360px) {
  header .title-picture{
    background-size: 200%;
    justify-content: center;
    align-items: center;
  }

  header .title-picture p, header .title-picture h2{
    padding: 0;
    margin: 0;
  }
}


/*newsletter*/
  
  
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
  height: 12rem;
  justify-content: space-between;
}

.newsletter form {
  display: flex;
  box-shadow: 0px 0.2rem 0.06rem rgba(244, 244, 237, 1); 
  height: 3rem;
  margin-top: 1rem;
}

.newsletter form input {
  width: 18.5rem;
  padding: 1rem; 
  border: none;
}

  
::placeholder{
  font-size: 1rem; 
  letter-spacing: 4px; 
  color: rgb(173, 173, 173);
  font-weight: 700;
}
  
.newsletter form button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12.6rem;
  padding: 1rem ; 
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-color: rgba(244, 244, 237, 1);
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(242, 242, 242, 0.5) 100%);
}


@media only screen and (max-width: 360px) {
  .newsletter{
    margin: 3rem;
  }

  .newsletter form input {
    width: 14rem;
    padding: 1rem; 
  }

  .newsletter form button {
    width: 5rem;
    padding: 1rem; 
  }

  .newsletter form button p{
    display: none;
  }

  ::placeholder{
    font-size: 0.7rem; 
  }

}

/* Testimonials */
    
.testimonials {
  padding-top: 5rem;
  height: 60rem; 
  background-color: rgba(252, 252, 252, 1);
  position: relative;
  width: 100%;
}

.testimonials .pics, .testimonials img:nth-of-type(1) {
  border-radius: 50%;
}

.testimonials img:nth-of-type(1) {
  position: relative;
  width: 30%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.testimonials img:nth-of-type(2) {
  position: relative;
  top: 10%;
  left: 16%;
  z-index: 2;
}

.testimonials .pics:nth-of-type(1) {
  background-image: url('../images/h6.png');
  background-size: 100%;
  width: 4.278rem; /* 77px / 18px */
  height: 4.278rem;
  position: relative;
  top: 3%; 
  left: 6%; 
  background-color: rgba(246, 16, 104, 0.808);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(246, 16, 103, 0.25);
}

.testimonials .pics:nth-of-type(2) {
  background-image: url('../images/h7.png');
  background-size: 100%;
  width: 5.833rem; 
  height: 5.833rem;
  position: relative;
  top: -20%; 
  left: 15%; 
  background-color: rgba(94, 35, 157, 0.87);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(94, 35, 157, 0.25);
}

.testimonials .pics:nth-of-type(3) {
  background-image: url('../images/h4.png');
  background-size: 100%;
  width: 3.556rem; 
  height: 3.556rem; 
  position: relative;
  top: -18%; 
  left: 25%; 
  background-color: rgba(0, 240, 181, 1);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(0, 240, 181, 0.25);
}

.testimonials .pics:nth-of-type(4) {
  background-image: url('../images/h5.png');
  background-size: 100%;
  width: 4.5rem; /* 81px / 18px */
  height: 4.5rem; /* 81px / 18px */
  position: relative;
  top: -25%; 
  left: 70%; 
  background-color: rgba(0, 240, 181, 1);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(0, 240, 181, 0.25);
}

.testimonials .pics:nth-of-type(5) {
  background-image: url('../images/h3.png');
  background-size: 100%;
  width: 3.111rem; /* 56px / 18px */
  height: 3.111rem;
  position: relative;
  top: -38%; 
  left: 80%; 
  background-color: rgba(94, 35, 157, 0.87);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(94, 35, 157, 0.25);
}

.testimonials .pics:nth-of-type(6) {
  background-image: url('../images/h2.png');
  background-size: 100%;
  width: 4.056rem; /* 73px / 18px */
  height: 4.056rem;
  position: relative;
  top: -35%; 
  left: 90%;
  background-color: rgba(246, 16, 104, 0.808);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(246, 16, 103, 0.25);
}

.testimonials .pics:nth-of-type(7) {
  background-image: url('../images/h1.png');
  background-size: 100%;
  width: 5.111rem; /* 92px / 18px */
  height: 5.111rem;
  position: relative;
  top: -65%; 
  left: 90%; 
  background-color: rgba(0, 240, 181, 1);
  background-blend-mode:multiply;
  box-shadow: 0 0 20px rgba(0, 240, 181, 0.25);
}

.testimonials blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}


.testimonials blockquote .quote{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}



.testimonials .big{
  font-size: 10rem;
  color: rgba(246, 16, 103, 1);
}

.testimonials blockquote cite {
  margin-top: 2rem;
}

.testimonials blockquote cite .first-half{
  color: rgba(246, 16, 103, 1);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
}


    

@media only screen and (max-width: 360px) {
  .testimonials{
    height: 40rem;
  }
  .testimonials blockquote {
    margin-top: -5rem;
}

  .testimonials .pics, .testimonials img{
    display: none;
  }
}
  

  
/*footer*/
  
footer{
  display: flex;
  flex-direction: column;
  height: 31rem;
  background-color: rgba(21, 4, 51, 1);
}

  
footer .ftr{
  display: flex;
  justify-content: space-between;
  padding: 8.2rem 8.2rem 0 8.2rem;
}
  

footer .ftr div{
  width: 9rem;
}

footer .ftr div .logo{
  padding-bottom: 2rem;
}

  
footer .ftr ul {
  margin-left: 7rem;
  font-size: 0.7rem;
  font-weight: 700;
}
  
footer .ftr ul li{
  margin-bottom: 0.5rem;
  font-size: 0.8rem; 
  font-weight: 700;
  letter-spacing: 2px; 
  list-style-type: none;
  color: rgba(252, 252, 252, 1);
}

footer .ftr ul li a:visited{
  color: rgba(252, 252, 252, 1);
}
footer .ftr ul li div{
  display: inline-flex;
  justify-content: space-between;
}

  
footer .ftr ul .name{
  letter-spacing: 6px;
  font-weight: 800;
  margin-bottom: 2rem;
  text-decoration: underline rgba(246, 16, 103, 1);
  text-underline-offset: 0.8rem;
}

footer .text-super-small{
  align-self: center;
  margin-top: 3rem;
}


@media only screen and (max-width: 360px) {
  footer{
    height: auto;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
  }

  footer .ftr{
    padding: 0;
    flex-direction: column;
  }

  footer .ftr ul{
    padding-top: 3rem;
  }

  footer .ftr ul {
    margin: 0;
  }
}

/*hat*/

.hat{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem 0;
  width: 31rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 360px) {
  .hat{
    width: auto;
    padding: 2rem;
  }
}

/*table of logos*/

.table {
  position: absolute;
  margin-right: 14rem;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 8rem;
  padding-left: 2rem;
}


.table svg{
  margin-top: 4rem;
  margin-right: 5rem;
}

.table p:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
  visibility: hidden;
}


@media only screen and (max-width: 360px) {

  .table{
    position: static;
    margin: 0;
    padding: 2rem;
    width: auto;
  }

  .table svg{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 80%;
  }
}