@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&family=Noticia+Text:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  width: 100%;
}


/*text, titles*/

h1 {
  font-size: 5.5rem; /* unchanged */
  font-weight: 900;
  background: linear-gradient(to bottom, white 50%, rgba(246, 16, 103) 50%);
  background-clip: text;
  color: transparent;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  font-size: 3rem; /* unchanged */
}

h3 {
  font-size: 2.5rem; /* unchanged */
  font-weight: 500;
}

h4 {
  font-size: 2rem; /* unchanged */
}

h5 {
  font-size: 1.5rem; /* unchanged */
  font-weight: 500;
}

h6 {
  font-size: 1rem; /* unchanged */
}


.title-small {
  font-size: 0.7rem; 
  letter-spacing: 6px; 
  font-weight: 800;
}


.title-medium {
  font-size: 0.8rem; 
  font-weight: 800;
  letter-spacing: 0.222rem; 
}

.title-large {
  font-size: 1rem; /* unchanged */
  letter-spacing: 0.222rem; /* 4px / 18px */
  font-weight: 700;
}

.text-super-small{
  font-size: 0.65rem;
}

.text-small {
  font-size: 0.9rem; 
}


.text-regular{
  font-size: 1rem;
  font-weight: 400;
}

.text-large{
  font-size: 1.2rem;
}

.logo {
  font-size: 1.333rem; /* unchanged */
  letter-spacing: 0.111rem; /* 2px / 18px */
  font-weight: 800;
}

.li{
  font-size: 0.8rem; 
  font-weight: 700;
  letter-spacing: 2px; 
  list-style-type: none;
}

.dark{
  color: rgba(48, 35, 61, 1);
}

.pink{
  color: rgba(246, 16, 103, 1);
}


.light-gray{
  color: (244, 244, 237, 1);
}

.white{
  color: rgba(252, 252, 252, 1);
}

.gray{
  color:rgba(119, 108, 130, 1);
}

.bold{
  font-weight: 800;
}


/*navigation light*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.4rem 8.2rem; 
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 49rem;
}

nav ul li {
  display: flex;
  align-items: center;

}

a:link {
  text-decoration: none;
  color: rgba(48, 35, 61, 1);
}

a:visited {
  color: rgba(48, 35, 61, 1);
}

/*newsletter*/
  
  
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  height: 12rem;
  justify-content: space-between;
}

.newsletter form {
  display: flex;
  box-shadow: 0px 0.2rem 0.06rem rgba(244, 244, 237, 1); 
  height: 3rem;
  margin-top: 1rem;
}

.newsletter form input {
  width: 18.5rem;
  padding: 1rem; 
  border: none;
}

  
::placeholder{
  font-size: 1rem; 
  letter-spacing: 4px; 
  color: rgb(173, 173, 173);
  font-weight: 700;
}
  
.newsletter form button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12.6rem;
  padding: 1rem; 
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-color: rgba(244, 244, 237, 1);
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(242, 242, 242, 0.5) 100%);
}
  
  
/*footer*/
  
footer{
  display: flex;
  flex-direction: column;
  height: 31rem;
  background-color: rgba(21, 4, 51, 1);
}


  
  
footer .ftr{
  display: flex;
  justify-content: space-between;
  padding: 8.2rem;
}
  

footer .ftr div{
  width: 9rem;
  
}

  
footer .ftr ul {
  font-size: 0.7rem;
  font-weight: 700;
}
  
footer .ftr ul li{
  margin-bottom: 0.5rem;
  
}

footer .ftr ul li svg{
  margin-right: 1.5rem;
  
}
  
footer .ftr ul .name{
  letter-spacing: 6px;
  font-weight: 800;
  margin-bottom: 2rem;
}