@import url("style.css");
    
    header .wind{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-left: none;
      height: 8rem;
      width: 58%;
      padding: 3rem;
      margin-top: 3rem;
      
    }
    
    header .wind p{
      padding-left: 5.2rem;
    }
    
  
  header div{
      height: 20rem; 
      background-image: url("../images/t1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
      background-color: rgba(94, 35, 157, 1);
      background-blend-mode: multiply;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
  
    header div h2{
      padding-left: 8.2rem;
      margin-bottom: 1rem;
    }
  
    header div p{
      padding-left: 8.2rem;
    }

/*intro*/

.intro{
  padding-top: 5rem;
}

.background{
  background-color: rgba(21, 4, 51, 1);
  height: 60rem;
  position: absolute;
  top: 67rem;
  width: 100%;
  z-index: 1;
}

/*team*/

.team{
    position: relative; 
    display: flex;
    padding: 2rem 8.2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
}

.team .person{
    margin: 5rem 2rem;
}

.team .person .title-small{
  margin-top: 1rem;
}

.team .person div{
  display: inline-flex;
  justify-content: space-around;
  width: 10rem;
}

/*testimonials*/

.testimonials{
  margin-top: -10rem;
}