@import url("style.css");
    
/*picture for header*/

header .title-picture{
  background-image: url("../images/t1.png"), linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
}

/*intro*/

.intro{
  padding-top: 5rem;
}

.background{
  background-color: rgba(21, 4, 51, 1);
  height: 60rem;
  position: absolute;
  top: 67rem;
  width: 100%;
  z-index: 1;
}

/*team*/

.team{
    position: relative; 
    display: flex;
    padding: 2rem 8.2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
}

.team .person{
    margin: 5rem 2rem;
}

.team .person .title-small{
  margin-top: 1rem;
}

.team .person div{
  display: inline-flex;
  justify-content: space-around;
  width: 10rem;
}

@media only screen and (max-width: 360px) {

  .team{
    padding: 2rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.background{
  height: 165rem;
}

.team .person{
  margin: 2rem 2rem;
}


}



/*testimonials*/

.testimonials{
  margin-top: -10rem;
}